* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../assets/img/background.jpg");
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  border-radius: 5px;
}

/* HEADER / NAV BAR STYLES START */
header {
  display: flex;
  position: relative;
  padding: 15px 10px;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
  z-index: 9999;
}

header h1 {
  padding: 10px 5px 10px 10px;
  margin-left: 20px;
  font-size: 2vw;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
}

nav a {
  padding: 5px 20px;
  color: inherit;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: none;
  color: #777;
  transition: 0.5s;
}
main {
  margin: 0 auto;
}

/* HEADER / NAV BAR STYLES END */

/* SLOGAN STYLES START */
h2 {
  display: flex;
  align-items: center;
  margin-top: 300px;
  justify-content: center;
  margin-bottom: 0;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

/* SLOGAN STYLES END */

/* SEARCH FORM STYLES START */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  align-items: center;
  justify-content: center;
}

.search-form {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 600px;
  height: 40px;
  display: flex;
}

form input {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  color: #fff;
  flex: 1;
  border: none;
  outline: none;
  margin: 5px;
}

#departure,
#destination,
#datepicker {
  background-color: rgba(0, 0, 0, 0.0);
}

form button {
  background: tomato;
  font-size: 14px;
  padding: 5px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

form button:hover {
  background-color: rgb(255, 84, 54);
  transition: 0.5s;
}

.datepicker {
  width: 80px;
}

.airplane {
  align-self: center;
  padding: 10px;
}

.departure-form,
.destination-form {
  align-self: center;
  color: #fff;
}

/* SEARCH FORM STYLES END */

/* RESULT CARDS STYLES START */
.result-card-wrapper {
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  width: 600px;
  font-size: 14px;
  background: #fff;
  margin-top: 20px;
  padding: 15px;
  padding-right: 0;
  border-radius: 5px;
  cursor: pointer;
}

.sector-badges {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}

.arrow {
  display: flex;
  align-items: center;
}

.flight-number {
  border-radius: 12px;
  border: 1px solid rgb(208, 233, 251);
  background: rgb(232, 244, 253);
  color: rgb(0, 90, 163);
  font-weight: 500;
  font-size: 12px;
  padding: 5px;
}

.plane-logo {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.departure-time,
.destination-time,
.departure-airport,
.destination-airport {
  font-weight: 500;
}

.result-card-wrapper:hover {
  transition: 0.5s;
}

.result-card-actions {
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgb(239, 242, 245);
}

.result-card-price {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: rgb(37, 42, 49);
}

#booking-button {
  border: none;
  outline: none;
  background-color: rgb(0, 169, 145);
  height: 32px;
  width: 100px;
  text-align: center;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}

#booking-button:hover {
  background-color: rgb(0, 131, 112);
  transition: 0.5s;
}

/* RESULT CARDS STYLES END */

/* LOGIN FORM START */
.login-container,
.signup-container {
  width: 100%;
  margin-top: 270px;
  display: flex;
}

.signup-box {
  width: 330px;
  height: 475px;
  margin: auto;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.login-box {
  width: 330px;
  height: 300px;
  margin: auto;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.login,
.signup {
  text-align: center;
  font-size: 20px;
  padding-top: 15px;
  color: #fff;
  text-transform: uppercase;
  
}

h4 {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.login-form,
.signup-form {
  width: 300px;
  margin-left: 10px; 
}

.login-form label,
.signup-form label {
  display: flex;
  margin-top: 20px;
  margin-left: 7px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

.login-form input,
.signup-form input {
  width: 100%;
  padding: 7px;
  margin-top: 7px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
}

input[type="button"] {
  width: 300px;
  height: 35px;
  padding: 5px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background: tomato;
  font-size: 14px;
  color: #fff;
}

input[type="button"]:hover {
  background-color: rgb(255, 84, 54);
  transition: 0.5s;
}

.term-of-use {
  color: #fff;
  text-align: center;
  padding-top: 20px;
  font-size: 13px;
}
.para-2 {
  text-align: center;
  color: white;
  font-size: 15px;
}
.para-2 a {
  color: #49c1a2;
}
/* LOGIN FORM END */

/* FOOTER STYLES START */
.footer-container {
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 25px 0;
  margin-top: 350px;
}

.footer-col {
  width: 25%;
  padding: 0 50px;
}

.footer-col h3 {
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.footer-col a {
  font-size: 12px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.social-links a {
  font-size: 16px;
  color: black;
  list-style: none;
  text-decoration: none;
}

.social-links a:hover {
  transform: translateY(-10px);
}

.logo {
  display: flex;
  justify-content: center;
}

/* FOOTER STYLES END */

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 7vw;
  }

  header nav {
    justify-content: center;
  }

  .sign h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
  }

  form input {
    width: 100px;
  }

  .datepicker {
    display: flex;
  }

  .result-card-wrapper {
    display: flex;
    justify-content: center;
    width: 400px;
  }
}
